
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div>
    <form method="post">
        <label>Email</label>
        <input type="text" name="email" />
        <br />
        <label>Contraseña</label>
        <input type="text" name="contrasenia" />
        <br />
        <input type="submit" />
    </form>
</div>

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-danger">
        @ViewBag.Mensaje
    </div>
}