
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post">
    <label>Nombre usuario</label>
    <input type="text" />
    <br />
    <label>Contraseña</label>
    <input type="text" />
    <br />
    <input type="submit" />
</form>
