
@{
    ViewData["Title"] = "Login";
}

<div class="wide account">
    <h1>Login</h1>

    <div class="spaced form-container">
        <form method="post">
            <label>Email</label>
            <input type="text" name="email" />
            <label>Contraseña</label>
            <input type="text" name="contrasenia" />
            <input type="submit" />
        </form>
    </div>

    @if (ViewBag.Mensaje != null)
    {
        <div class="spaced alert alert-danger">
            @ViewBag.Mensaje
        </div>
    }
</div>
