@{
    ViewData["Title"] = "Register";
}

<div class="wide account">
    <h1>Registro</h1>

    <div class="spaced frame form-container">
        <form method="post">
            <label>Nombre</label>
            <input type="text" name="nombre" />
            <label>Apellido</label>
            <input type="text" name="apellido" />
            <label>Email</label>
            <input type="text" name="email" />
            <label>Contraseña</label>
            <input type="text" name="contrasenia" />
            <input type="submit" value="Registrarse" class="btn btn-primary" />
        </form>
    </div>

    <div class="frame action-container">
        <p>¿Ya estás registrado?</p>
        <!-- Botón con redirección a la página de login -->
        <a href="/Account/Login" class="btn btn-outline-secondary">Iniciar sesion</a>
    </div>

    @if (ViewBag.Mensaje != null)
    {
        <div class="spaced alert alert-danger">
            @ViewBag.Mensaje
        </div>
    }

    @if (ViewBag.Confirmacion != null)
    {
        <div class="spaced alert alert-info">
            @ViewBag.Confirmacion
        </div>
    }
</div>
