
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form method="post">
    <label>Nombre</label>
    <input type="text" name="nombre" />
    <br />
    <label>Apellido</label>
    <input type="text" name="apellido" />
    <br />
    <label>Email</label>
    <input type="text" name="email" />
    <br />
    <label>Contraseña</label>
    <input type="text" name="contrasenia" />
    <br />
    <input type="submit" />
</form>