html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.spaced {
    margin: 16px auto 16px;
}

.form-container form {
    display: grid;
    grid-template-columns: auto 1fr; /* Labels take remaining space, inputs are fixed */
    gap: 15px; /* Space between items */
    align-items: center; /* Vertically center-align labels and inputs */
}

input[type="submit"] {
    grid-column: 2; /* Place the submit button in the second column */
    justify-self: end; /* Align the button to the left within the column */
}

.wide {
  width: 400px;
}

.wider {
  width: 700px;
}

.widest {
  width: 1000px;
}

.account {
    margin: 15% auto;
}

.frame {
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
}

.action-container {
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center;
}

.align-start {
    margin-left: 0;
    margin-right: auto;
}
.align-center {
    margin-left: auto;
    margin-right: auto;
}
.align-end {
    margin-left: auto;
    margin-right: 0;
}