
@{
    ViewData["Title"] = "Offers";
}

<!-- Muestra el contenido si el usuario está loggeado -->
@if (ViewContext.HttpContext.Session.GetString("UserRole") != null)
{
    <div class="text-center">
        <h1 class="display-4">Ofertas</h1>
    </div>
}